:root {
    --primary: rgb(30, 117, 88);;
    --text: #212529;
    --text-light: #fafafa;
    --white: #fff;
    --black: #00000047;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
.container{
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto;
}
.header{
        font-family: "Playfair Display", serif;
        font-size: 2rem;
        text-align: center;
        font-weight: lighter;
}

.hero{
    background: linear-gradient(145deg, var(--primary) 60%, var(--white) 40%);
    padding-top: 0.5em; 
}

.author__img{
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
 }
 .author__name{
    width: 90%;
    font-family: "Playfair Display", serif;
    font-size: 2.8rem;
    position: absolute;
    bottom: 0.8em;
    padding-left: 0.3em;
    color: var(--text-light);
 }
 
.profile__link{
   margin-left: 30%;
}
.icon{
    width: 10%;
}

.cards{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 11px 30px 4px rgba(0, 0, 0, 0.35);
}
.project__img{
    background-color: rgb(30, 117, 88);
    height: 10em;
}
.project__info{
    padding: 1em;
    font-size: 1rem;
}
.project__title{
    display: flex;
    flex-direction: row;
   justify-content: space-between ;

    h3{
        text-align: left;
        font-size: 1rem;
    }
}
.right{
    display: flex;
    align-self: center;
    img{
        width: 1.875em;
    }
}


/* 
Footer starts here
*/

.contact{
    display: flex;
    flex-direction: column;
}
.contact__info{
    background-color: rgb(30, 117, 88);
    font-size: 1rem;
    padding: .5em 1.5em;
    color: var(--white);
    h2{
        margin-bottom: 0.4em;
        font-size: 1.5rem ;
    }
    p, address{
        font-size: 0.8rem;
        font-style: normal;
    }

}
.footer_img{
   /*  background-image: url(images/profile.jpg); */
    background-size: contain;
}

/* media Queries for tablet */
@media (min-width: 600px) {
    footer{
      background-color: rgb(30, 117, 88);
    }
.contact{
    display: flex;
    flex-direction: row;
}
.contact__info{
    width: 50%;
    padding: 3em;
}
.footer_img{
    width: 50%;
    padding: 1.6em 2em;
    img{
        width: 100%;
    }
}
}